.mat-toolbar {
    background-color: white;
    height: 80px;
    border-bottom: 0.5px solid lightgray;
    box-shadow: 1px 1px 5px #000000;
    // border : 3px solid red;
    padding-top: .5%;
}

.searchBar {
    flex: 1 1 auto;
    margin-left: 5%;
    margin-right: 20%;
    font-size: 16px;
    margin-top: 1.5%;
    // border : 3px solid red;
}

.search {
    display: flex;
    margin-left:3%;
    align-items: center;
}


.mat-nav-list a img {
    margin: 0px 35px 0px 0px;
}

.mat-nav-list a:hover {
    background-color: rgb(245, 236, 224);
    border-radius: 10px 25px 25px 10px;
    border: 1px solid black;
}

button:hover {
    background-color: rgb(234, 232, 232)

}

@media (min-width: 420px) {
    .searchBar{
      margin-left: 10px;
      margin-right: 0px;
    }
}

@media (max-width: 800px) {
    .searchBar{
      margin-left: 10px;
      margin-right: 0px;
    }
}
@media (max-width: 435px) {
    .mat-toolbar-row{
        width: 500px;
    }
    .mat-toolbar-multiple-rows{
        width: 127%;
    }
}