<div class="container">
    <div class="container2">
        <div class="Outer_container">
            <div class="part1">
                <div class="title">
                    <div style="color: #4285F4;">F</div>
                    <div style="color: #EA4335;">u</div>
                    <div style="color: #FBBC05;">n</div>
                    <div style="color: #4285F4;">d</div>
                    <div style="color: #34A853;">o</div>
                    <div style="color: #EB4E41;">o</div>
                </div>
                <h3>Create new password to sign in</h3>
            </div>
            <form class="form-container" [formGroup]="resettPasswordForm" (ngSubmit)="onSubmit()">
                <div class="main_container">
                    <div class="first_line">
                        <mat-form-field appearance="outline" class="first_line1">
                            <mat-label>Create new Password</mat-label>
                            <input matInput placeholder="Create Password" formControlName="password">
                            <mat-error>enter your new Password</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="first_line">
                        <mat-form-field appearance="outline" class="first_line1">
                            <mat-label>Confirm new Password</mat-label>
                            <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
                            <mat-error>enter your confirm Password</mat-error>
                            <mat-hint>At least 8 character</mat-hint>
                        </mat-form-field>
                    </div>

                    <br>
                    <section class="example-section">
                        <mat-checkbox class="example-margin"> Show Password</mat-checkbox>
                    </section>

                    <br><br>
                    <div class="bottom_buttons">
                        <span class="first_button ">skip</span>
                        <button class="second_button">Save Password</button>
                    </div>
                </div>

            </form>
        </div>