<div class="icons" fxFlex="noshrink">
    <button mat-icon-button> <img src="../../../assets/note5.jpeg" width="20px" height="20px"></button>
    <button mat-icon-button> <img src="../../../assets/note6.jpeg" width="20px" height="20px"></button>
    <button mat-icon-button> <img src="../../../assets/note3.jpeg" width="20px" height="20px"></button>
    <button mat-icon-button> <img src="../../../assets/note2.jpeg" width="20px" height="20px"></button>
    <button mat-icon-button><img src="../../../assets/note.jpeg" width="20px" height="20px"></button>
    <button mat-icon-button> <img src="../../../assets/more.jpeg" width="20px" height="20px"></button>
</div>