<!-- <div class="takenote" fxLayout="row" fxFlex="noshrink">
    <mat-form-field class="take-note" fxLayout="row">
        <div *ngIf="takeNote" fxLayout="row" fxLayoutAlign="space-between ">
            <div class="pin">
            <button mat-icon-button> <img src="../../../assets/pin.jpeg" width="20px" height="20px" ></button>
        </div>
            <input matInput placeholder="Title">
        </div>
        <div (click)="createNote()" fxLayout="row" fxLayoutAlign="space-between">
            <div>
                <input class="create" matInput placeholder="Take a note...">
            </div>
            <div *ngIf="!takeNote" class="righticon">
                <button mat-icon-button> <img src="../../../assets/checkbox.jpeg" width="24px" height="24px"></button>
                <button mat-icon-button> <img src="../../../assets/brush.jpeg" width="24px" height="24px"></button>
                <button mat-icon-button> <img src="../../../assets/note2.jpeg" width="24px" height="24px"></button>
            </div>
        </div>
        <div *ngIf="takeNote" fxLayout="row" fxLayoutAlign="space-between center">
            <app-icons></app-icons>
            <button mat-flat-button (click)="closeNote();">Close</button>
        </div>
    </mat-form-field> -->
    
<mat-card class="take-note" fxFlex="noshrink">

    <div *ngIf="takeNote" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title > <input matInput placeholder="Title" [(ngModel)]="title" required> </mat-card-title>
      <button mat-icon-button> <img src="../../../assets/pin.jpeg" width="20px" height="20px" ></button>
    </div>
  
    <div (click)="createNote()" fxLayout="row" fxLayoutAlign="space-between center">
        <input class="description" matInput placeholder="Take a note..." [(ngModel)]="description" style="width: 300px;" required> 
      <div *ngIf="!takeNote" fxLayoutAlign="space-between center" fxFlex="noshrink" >
        <button mat-icon-button > <img src="../../../assets/checkbox.jpeg" width="24px" height="24px"></button>
        <button mat-icon-button > <img src="../../../assets/brush.jpeg" width="24px" height="24px"></button>
        <button mat-icon-button> <img src="../../../assets/note2.jpeg" width="24px" height="24px"></button>
      </div>
    </div>
  
      <mat-card-actions *ngIf="takeNote" fxLayout="row" fxLayoutAlign="space-between center">
        <app-icons></app-icons>
        <button mat-flat-button (click)="closeNote();">Close</button>
      </mat-card-actions>
  
    </mat-card>
