<div class="display-notes">
    <mat-card class="card" *ngFor="let note of notesArray | filter:filterString" [style.background]="note.color">

        <mat-card-content class="textarea" (click)="openDialog(note)">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-title">{{note.title}}</span>
            </div>
        </mat-card-content>
        <div>
            <span (click)="openDialog(note)">{{note.description}}</span>
        </div>
        <span class="reminder" *ngIf="note.reminder.length != 0" >{{note.reminder | date:"EEEE dd-MMM-yyyy HH:mm aa"}}
            <button mat-icon-button (click)="removeRemionder(note)"><img src="../../../assets/cancel.svg"
                    width="15px" height="15px"></button>

        </span>
        <div fxLayout="row" fxLayoutAlign="space-between center">
           <app-icons [noteObj]="note" (updatedIconData)="iconMessage($event)"></app-icons>  <!-- rteceive msg from icon -->

        </div>
    </mat-card>
</div>